:root {
  --dayColor: #ff9823;
  --ftNightColor: #EE6C4D;
  --bgDayColor: #ffe2a5;
  --bgNightColor:#1C2838;
  --regularFtNightColor: #E0FBFC;
  --bgDayColor_v2: #fff7f0;
  --bgDayColor_v3: #fcecc8;
  --hyperlinkNight: #28aa00;;
}

body, html {
  margin:0;
  padding:0;
  font-family: 'Varela Round';
  font-size: 1rem;
}

@media screen and (max-width:480px){
  body{
    font-size: 0.65rem;
  }
}

.bodyWrapper {
  display: flex;
  flex-direction: row;
}

ul{
  list-style:none;
  padding:0;
  margin:0
}

main {
  flex:20;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*Header section - Introduction*/
.orangeColor{
  color: var(--dayColor);
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 200px;
  /* margin: 0 auto; */
  height: 100vh;
  background-color: var(--bgDayColor_v2);
}

@media screen and (max-width:1280px){
  header{
    padding: 0 300px;
  }
}
@media screen and (max-width:1024px){
  header{
    padding: 0 150px;
  }
}
@media screen and (max-width:768px){
  header{
    padding: 0 100px;
      /* display:block */
  }
}
@media screen and (max-width:480px){
  header{
    padding: 0 50px;
  }
}

.headerTop {
  flex:5;
  margin-top: 10%;
}

.headerBottom {
  flex:2;
}

@media screen and (max-width:480px){
  .headerTop {
    flex:1;
    margin-top: 50%;
  }
  
  .headerBottom {
    flex:1;
    margin-top: 5%;
  }
}

.intro_font_above_my_name {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 200;
}

.intro_font_below_my_name {
  margin-top: 60px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  font-size: 2.5rem;
  font-weight: 200;
}

.intro_name {
  font-weight: bold;
  margin: 0;
  font-size: 2.5rem;
}

.intro_tagLine {
  margin: 0;
  font-size: 1rem;
  font-weight: 200;
}

.intro_contact {
  margin-top: 60px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  font-size: 1.5rem;
  font-weight: 200;
}


@media screen and (max-width:480px){
  .intro_font_above_my_name {
    font-size: 1rem;
  }
  
  .intro_font_below_my_name {
    margin-top:15px;
    font-size: 1.25rem;
  }
  
  .intro_name {
    font-size: 1.25rem;
  }
  
  .intro_tagLine {
    font-size: 0.65rem;
  }
  
  .intro_contact {
    margin-top: 15px;
    font-size: 0.65rem;
  }
}

.sectionContent{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  flex-direction: column;
}

/*Section 2*/
.section2_aboutMe {
  padding: 50px 250px;
  background-color: var(--bgDayColor_v2);
}

.aboutMeContent {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-direction: row;
}


.section2 {
  flex: 1;
  display: flex;
  padding: 50px 225px;
  gap: 25px;
  justify-content: center;
  flex-direction: row;
  background-color: var(--bgDayColor_v2);
  /*justify-content: center;
  align-items: center;*/
  height: 2000px;

}

.section_left {
  flex: 1;
  text-align: right;
}
.section_right {
  flex: 3;
  text-align: left;
}

@media screen and (max-width:480px){
  .section2 {
    padding: 25px 50px;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
  
  .section_left {
    flex: 1;
    text-align: left;
  }
  .section_right{
    flex: 1;
    text-align: left;
  }
}

@media screen and (max-width:768px){
  .section2 {
    padding: 50px 50px;
  }
}

.section_skills_experience {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom:50px;
}

@media screen and (max-width:480px){
  .skills{
    padding-bottom:10px;
  }
}

.skillsColumn {
  flex: 1 1;
}

p {
  font-size: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (max-width:480px){
  p{
    font-size: 0.65rem;
  }
}

h6 {
  font-size: 1rem;
  margin-block-start: 0;
  margin-block-end: 10px;
  font-weight: 600;
}

.removeBlockEnd {
  margin-block-end: 0;
}

h5 {
  margin-block-start: 0;
  font-size: 1.25rem;
  color: var(--dayColor);
}

@media screen and (max-width:480px){
  h6 {
    font-size: 0.6rem;
  }
  
  h5 {
    font-size: 0.6rem;
  }
}

.experienceContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.experienceRowShift {
  margin-left: 15%;
}

.experienceRowShift1 {
  margin-left: 30%;
}

.experienceRowShift2 {
  margin-left: 50%;
}

@media screen and (max-width:480px){
 
  .experienceRowShift {
    margin-left: 0;
  }
  
  .experienceRowShift1 {
    margin-left: 0;
  }
  
  .experienceRowShift2 {
    margin-left: 0;
  }
}

.jobTitle {
  font-size: 1rem;
  margin: 5px 0 0 0;
}

.jobYears {
  font-size: 0.95rem;
  font-style: italic;
  margin: 5px 0 0 0;
}

@media screen and (max-width:480px){
  .jobYears {
    font-size: 0.6rem;
  }
  .jobTitle {
    font-size: 0.6rem;
  }
}

.section3_projects {
  padding: 50px 150px;
  background-color: var(--bgDayColor_v3);
}
.sectionContent{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  /*height: 101vh;*/
  flex-direction: column;
  /*justify-content: center;
  align-items: center;*/
}

@media screen and (max-width:480px){
  .section3 {
    padding: 25px 50px;
    gap: 50px;
  }

  .section3_projects{
    padding: 50px 50px;
  }
}


.projectTitle {

  color: var(--dayColor);
}

.projectDescription {
  padding-bottom: 10px;
}

.projectLink {
  font-size: 1rem;
}

.projectRow {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

@media screen and (max-width:480px){
  .projectRow {
    flex-direction: column;
    gap: 15px;
  }
}

.projectImages {
  flex: 1;
}

.projectBlurb {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectImageSize{
  border-radius: 10px;
  width: 100%;
}

.leftSide {
  flex: 1;
  background-color: var(--bgDayColor_v2);
}

ul.leftSideStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  position: fixed;
  bottom: 50px;
  left: 22px;
  z-index: 10;
}

@media screen and (max-width:480px){
  ul.leftSideStyle {
    left: 15px;
  }

  ul.leftSideStyle svg {
    width: 50%;
    height: 50%;
  }  
}

@media screen and (max-width:768px){
  .leftSide {
    flex: 2;
  }
  ul.leftSideStyle {
    left: 15px;
  }

  ul.leftSideStyle svg {
    width: 75%;
    height: 75%;
  }  
}


.rightSide {
  flex: 1;
  /* width: 5%; */
  background-color: var(--bgDayColor_v3);
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.rightSideStyleElements{
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 10;
}

@media screen and (max-width:480px){
  .rightSideStyleElements {
    right: 15px;
  }
}

@media screen and (max-width:768px){
  .rightSide {
    flex: 2;
  }
  .rightSideStyleElements {
    right: 15px;
  }
}


.round_portrait {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  float: right;
}

@media screen and (max-width:480px){
  .round_portrait{
    float: left;
  }
}

.round_portrait img {
  width: 120%; 
  height: auto;
  margin-left: -15px; 
  transform: rotate(-5deg);
}

.iconStyleElement {
  width:40px;
}

li{
  list-style: none;
}

div > a {
  text-decoration: none;
  color: var(--dayColor);
  font-size: 1rem;
}

.darkMode div > a {
  text-decoration: none;
  color: var(--hyperlinkNight);
  font-size: 1rem;
}

@media screen and (max-width:480px){
  div > a {
    font-size: 0.65rem;
  }
  
  .darkMode div > a {
    font-size: 0.65rem;
  }
}


.highlight-link {
  color: var(--dayColor);
}

body.darkMode .highlight-link {
  color: var(--hyperlinkNight);
}

/*Dark mode*/
body.darkMode .rightSide, body.darkMode header, body.darkMode .section3, body.darkMode .section2,body.darkMode .leftSide {
  background-color: var(--bgNightColor); 
}

body.darkMode {
  color: var(--regularFtNightColor);
}

body.darkMode .orangeColor, body.darkMode h5, body.darkMode .projectTitle{
  color: var(--ftNightColor);
}

body.darkMode .line {
  background: var(--ftNightColor);
}

body.darkMode .section3_projects{
  background-color: var(--bgNightColor); 
}


.lineWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  /* margin: 24px auto 0; */
  /* padding: 0 30px 70px; */
  position: relative;
}

@media screen and (max-width:480px){
  .lineWrapper {
    gap: 5px;
  }
}

.hours {
  display: flex;
  width: 100%;
}

.hour {
  height: 61px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: opacity .3s linear;
}

.line-holder {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.line {
  height: 50px;
  width: 5px;
  background: var(--dayColor);
  transform: translate3d(0,25px,0);
  /* transition: transform 1s var(--curve),opacity .3s linear; */
  border-radius: 20px;
}

.line.hover {
  transform: translate3d(0,10px,0)!important
}

.line.night{
  opacity: 0.3;
}

.active{
  transform: translate3d(0,0,0);
  transition: transform 0.1s linear;
}

.lineIcon {
  /* width: 50px;
  height: 50px; */
  position: absolute;
  left: 50%;
  transform: translate3d(-50%,-100%,0);
  top: 0;
  /* background: var(--color-primary-accent);
  border-radius: 50%;
  z-index: var(--zindex-content); */
}
