/* Color to match
Pale Turquoise #B8E0F6
‍Light Blue #A4CCE3
‍Dark Slate Blue #37667E
‍Light Steel Pink #DEC4D6
‍Light Slate Grey #7B92AA
*/

body {
  font-family: 'Varela Round';
  font-size: 22px;
  display: flex;
  height: 100%;
}

main {
  flex:20;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*Header section - Introduction*/
.orangeColor{
  color: #ff9823;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 150px;
  max-width: 1440px;
  /* margin: 0 auto; */
  height: 100vh;
  background-color: #fff7f0;
}

.headerBottom {
  margin-top: 50px;  
}

.intro_font_above_my_name {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 200;
}

.intro_font_below_my_name {
  margin-top: 60px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  font-size: 2.5rem;
  font-weight: 200;
}

.intro_name {
  font-weight: bold;
  margin: 0;
  font-size: 2.5rem;
}

.intro_tagLine {
  margin: 0;
  font-size: 1rem;
  font-weight: 200;
}

.intro_contact {
  margin-top: 60px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  font-size: 1.5rem;
  font-weight: 200;
}

/*Section 2*/
.section2 {
  flex: 1;
  display: flex;
  padding: 50px 150px;
  gap: 25px;
  justify-content: center;
  flex-direction: row;
  /*justify-content: center;
  align-items: center;*/
}

.section_aboutMe {
  flex: 1;
}

.section_skills_experience {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom:50px;
}

.skillsColumn {
  flex: 1 1;
}

p {
  font-size: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

h6 {
  margin-block-start: 0;
  margin-block-end: 10px;
  font-weight: 600;
}

.removeBlockEnd {
  margin-block-end: 0;
}

h5 {
  margin-block-start: 0;
  font-size: 1.25rem;
  color: #ff9823;
}

.experienceContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.experienceRowShift {
  margin-left: 15%;
}

.experienceRowShift1 {
  margin-left: 30%;
}

.experienceRowShift2 {
  margin-left: 50%;
}

.jobTitle {
  font-size: 1rem;
  margin: 5px 0 0 0;
}

.jobYears {
  font-size: 0.95rem;
  font-style: italic;
  font-weight: 0;
  margin: 5px 0 0 0;
}

.section3 {
  flex: 1;
  display: flex;
  padding: 50px 150px;
  justify-content: flex-start;
  gap: 10px;
  /*height: 101vh;*/
  flex-direction: column;
  background-color: #ffe2a5;
  /*justify-content: center;
  align-items: center;*/
}

.projectTitle {
  color: #ff9823;
}

.projectDescription {
  padding-bottom: 10px;
}

.projectLink {
  font-size: 1rem;
}



.projectRow {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.projectImages {
  flex: 1;
}

.projectBlurb {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectImageSize{
  border-radius: 10px;
  width: 100%;
}

.leftSide {
  flex: 1;
}

.leftSideStyleElements{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  left: 33px;
  z-index: 10;
}

.rightSide {
  flex: 1;
  /* width: 5%; */
  background-color: #fcecc8;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.rightSideStyleElements{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 10;

}

.round_portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.round_portrait img {
  width: 120%; 
  height: auto;
  margin-left: -25px; 
  transform: rotate(-5deg);
}

.iconStyleElement {
  width:40px;
}

li{
  list-style: none;
}

div > a {
  text-decoration: none;
  font-size: 1rem;
}

/*Dark mode*/
body.darkMode .rightSide{
  background-color: #0F1E32;
}

body.darkMode .leftSide, body.darkMode .section2{
  background-color: #283A51;
}

body.darkMode header{
  background-color: #1C2838;
}

body.darkMode {
  color: #E0FBFC;
}

body.darkMode .orangeColor, body.darkMode h5, body.darkMode .projectTitle{
  color: #EE6C4D;
}

body.darkMode .section3 {
  background-color: #18273A;
}

.lineWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin: var(--24px) auto 0;
  padding: 0 calc(var(--24px) + 6px) calc(var(--64px) * 2);
  position: relative;
  z-index: var(--zindex-content-lower-1);
}

.hours {
  display: flex;
  width: 100%;
}

.hour {
  height: 61px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: opacity .3s linear;
}

.line-holder {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;

}

.line {
  height: 50px;
  width: 5px;
  background: hsl(42, 100%, 50%);
  transform: translate3d(0,25px,0);
  /* transition: transform 1s var(--curve),opacity .3s linear; */
  border-radius: 20px;
}

.line.hover {
  transform: translate3d(0,10px,0)!important
}

.line.night{
  opacity: 0.3;
}

.active{
  transform: translate3d(0,0,0);
  transition: transform 0.1s linear;
}

.lineIcon {
  /* width: 50px;
  height: 50px; */
  position: absolute;
  left: 50%;
  transform: translate3d(-50%,-100%,0);
  top: 0;
  /* background: var(--color-primary-accent);
  border-radius: 50%;
  z-index: var(--zindex-content); */
}
